@import "tailwindcss";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

/* Theme (v4 correct way) */
@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-primary: #06b6d4;
}

/* Base styles */
html {
  font-family: var(--font-poppins);
  scroll-behavior: smooth;
}

body {
  background-color: #111827;
  color: #f3f4f6;
}